@model EncoreML.UserModel


@{
    ViewBag.Title = "Register | Login";
}
<head>
    <meta charset="UTF-8">
    <title>SignInSignUpForms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="row" id="mainBody">
        <div class="col-md-6">
            <hr>
            <h3><b>NEW ACCOUNT</b></h3>
            <h4 id="texts">Not our registered customer yet?</h4>
            <br>
            <h5 id="texts">
                with registration with us new world of fashion, fantastic discounts and much more
                opens to you! The whole process will not take you more than a minute!
            </h5>
            <br>
            <h5 style="color:#A9A9A9">
                if you have any question, please feel free to <a href="#" style="color:#20B2AA">contact us</a>,
                our customer care service center is working for you 24/7.
            </h5>
            <hr>
            @using (Html.BeginForm("RegisterUser", "User"))
            {
                if (ViewBag.registrationStatus == true)
                {
                    <div class="alert alert-success" role="alert">
                        <strong>Registration succesful!</strong> Please login to continue.
                    </div>
                }

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="form-group">
                    <label for="desc">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>
                <div class="form-group">
                    <label for="desc">Confirm Password:</label>
                    <input type="password" class="form-control" name="rpassword" id="rpassword" required>
                </div>

                <div class="form-group">
                    <span class="error" style="color:red"></span><br />
                </div>

                <div class="form-group">
                    <label for="userType">User Type</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="userType" class="btn btn-light" style="border: 1px solid black">
                        <option selected="selected">--Select one--</option>
                        <option value="2">Vendor</option>
                        <option value="3">Customer</option>
                    </select>
                </div>
                <br />
                <div>
                    <button class="btn btn-info" type="submit" name="submit">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;Register
                    </button>
                </div>
            }
            <hr>
        </div>

        
        <div class="col-md-5 col-md-offset-1">
            <hr>
            <h3><b>LOGIN</b></h3>
            <h4 id="texts">Already our customer?</h4>
            <br>
            <h5 id="texts">Get access to your orders, Wishlist and Recommendations.</h5>

            <hr>
            @using (Html.BeginForm("UserLogin", "Account"))
            {
                if (ViewBag.LoginFailed == false)
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </div>
                }


                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-info" type="submit" name="btn"><span class="glyphicon glyphicon-log-in"></span>&nbsp;LOG IN</button>
                </div>
            }
            <hr>

        </div>
        <div class="col order-12"></div>
    </div>
    
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</body>